numpy
glob2
seaborn
tqdm
pyyaml
opencv-python
pandas
Pillow
scipy
tensorboard
matplotlib
scikit-learn
clearml
psutil
https://download.pytorch.org/whl/cu128/torch-2.7.1+cu128-cp312-cp312-win_amd64.whl 
https://download.pytorch.org/whl/cu128/torchvision-0.22.1+cu128-cp312-cp312-win_amd64.whl
